<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.phone_number %></h4>
<h4><%= @restaurant.address %></h4>
<h4><%= @restaurant.category %></h4>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.rating %> stars - <%= review.content %></p>
  <p></p>
<% end %>
<%= link_to "All Restaurants", restaurants_path %>
<%= render "reviews/new" %>
